//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


//CUSTOM MADIS

//NAV

nav .container > p {
  color: $blue;
}

//BODY

a:hover { text-decoration: none; }

.bg-gray { background-color: $gray-100; }

.row-grid {
  &:last-of-type { padding-bottom: 0; }
}

.form-control::-webkit-input-placeholder {
  color: #212529;
  opacity: 1; }
.form-control:-ms-input-placeholder {
  color: #212529;
  opacity: 1; }
.form-control::placeholder {
  color: #212529;
  opacity: 1; }

.background {
  background-repeat: no-repeat;
}

.background-bottles {
  @extend .background;
  min-height: 480px;
  -webkit-background-size: auto 450px;
  -moz-background-size: auto 450px;
  -o-background-size: auto 450px;
  background-size: auto 450px;
  background-position: bottom center;
}

.background-woman {
  @extend .background;
  min-height: 300px;
  -webkit-background-size: auto 300px;
  -moz-background-size: auto 300px;
  -o-background-size: auto 300px;
  background-size: auto 300px;
  background-position: bottom left;
}

.oil-bottle { background-image: url("../img/olipudel-rotated.png"); }
.oil-bottle-korgiga {
  background-image: url("../img/korgid.jpg");
  @extend .background;
  background-size: auto 130px;
  min-height: 189px;
}
.keemia-bottle { background-image: url("../img/keemia-rotated-lighter.png"); }
.double-bottle { background-image: url("../img/plastic-closure-only.png"); background-position: bottom center; }
.woman { background-image: url("../img/woman.png"); }

.list-inline-item { display: block; }

//FOOTER

footer {
  background-color: $blue;
  color: $gray-400;
  p:last-of-type { margin-bottom: 0; }
  a { color: $gray-400;
    &:focus { color: $gray-500; }
    &:active { color: $gray-500; }
    &:visited { color: $gray-500; }
    &:hover { color: $gray-500; }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .woman { margin-bottom: 0; }
  .double-bottle { background-position: center 25%; }
}

@media (min-width: 768px) {
  .background-bottles {
    background-position: bottom center;
  }
  .double-bottle p { max-width: 30%; }
  footer {
    & > .container { min-height: 100px;
    }
  }
  .w-sm-50 { width: 50%; }
}

@media (min-width: 992px) {
  .oil-bottle {
    position: relative;
    top: -200px;
  }
  .oil-bottle-korgiga-leht {
    top: -70px;
  }
  .h-lg-100 { height: 100%!important; }
  .pt-lg-10 { padding-top: 11em; }
  .oil-bottle-korgiga {
    background-position: 70% 20%;
  }
}

@media (max-width: 991px) {
  .oil-bottle-korgiga {
    background-position: center center;
  }
}

.img-language { bottom: 2px; }
